{% extends 'list.html' %}

{% load static %}
<!-- Head List -->
{% block head_List %}
    <script src="{% static 'dninoexist/js/list.js' %}"></script>
{% endblock %}
<!-- ./Head List -->
<!-- Table -->
{% block columns %}
    <tr>
        <th class="th-sm">Acción</th>
        <th class="th-sm">N° Distrito</th>
        <th class="th-sm">N° Circuito</th>
        <th class="th-sm">N° Mesa</th>
        <th class="th-sm">N° Orden</th>
        <th class="th-sm">DNI</th>
        <th class="th-sm">Apellidos</th>
        <th class="th-sm">Nombres</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}
<!-- Footer-Buttons -->
{% block footer_buttons %}
    <div class="card-footer text-center">
        <a href="{{ create_url }}" style="background-color:var(--blue02); FONT-SIZE: 9pt"
           class="btn text-white btn-rounded"><i class="fa-solid fa-plus"></i> Crear</a>
        <a href="{{ padron_update }}" style="background-color:var(--green08); FONT-SIZE: 9pt"
           class="btn text-white btn-rounded"><i class="fa-solid fa-person-circle-question"></i> Votó</a>
        <a href="{{ list_url }}" style="background-color:var(--green05); FONT-SIZE: 9pt"
           class="btn text-white btn-rounded"><i class="fa-solid fa-rotate"></i> Actualizar</a>
    </div>
{% endblock %}
<!-- ./Footer-Buttons -->
<!-- ./Table -->
<!-- JavaScript -->
{% block javascript %}

{% endblock %}
<!-- ./JavaScript -->