{% extends 'list.html' %}

{% load static %}
<!-- Head List -->
{% block head_List %}
        <script src="{% static 'dninoexist/js/list.js' %}"></script>
{% endblock %}
<!-- ./Head List -->
<!-- Table -->
{% block columns %}
    <tr>
        <th scope="col">Acción</th>
        <th scope="col">N° Distrito</th>
        <th scope="col">N° Circuito</th>
        <th scope="col">N° Mesa</th>
        <th scope="col">N° Orden</th>
        <th scope="col">DNI</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Nombres</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}
<!-- ./Table -->
<!-- JavaScript -->
{% block javascript %}

{% endblock %}
<!-- ./JavaScript -->