{% extends 'list.html' %}

{% load static %}
<!-- Head List -->
{% block head_List %}
    <!-- DataTable -->
    <link rel="stylesheet" href="{% static 'librery/datatables-1.10.22/plugins/buttons-1.6.1/css/buttons.bootstrap.min.css' %}"/>
    <script src="{% static 'librery/datatables-1.10.22/plugins/buttons-1.6.1/js/dataTables.buttons.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'librery/datatables-1.10.22/plugins/jszip-2.5.0/jszip.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'librery/datatables-1.10.22/plugins/pdfmake-0.1.36/pdfmake.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'librery/datatables-1.10.22/plugins/pdfmake-0.1.36/vfs_fonts.js' %}" type="text/javascript"></script>
    <script src="{% static 'librery/datatables-1.10.22/plugins/buttons-1.6.1/js/buttons.html5.min.js' %}" type="text/javascript"></script>
    <!-- -->
    <script src="{% static 'padron/js/list.js' %}"></script>

{% endblock %}
<!-- ./Head List -->
<!-- Table -->
{% block columns %}
    <tr>
        <th class="th-sm">Acción</th>
        <th class="th-sm">DNI</th>
        <th class="th-sm">Apellidos</th>
        <th class="th-sm">Nombres</th>
        <th class="th-sm">Domicilio</th>
        <th class="th-sm">Departamento</th>
        <th class="th-sm">Código Circuito</th>
        <th class="th-sm">Nombre Circuito</th>
        <th class="th-sm">N° Mesa</th>
        <th class="th-sm">Voto</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}
<!-- ./Table -->
<!-- Footer-Buttons -->
{% block footer_buttons %}
    <div class="card-footer text-center">
        <a href="{{ padron_update }}" style="background-color:var(--green08); FONT-SIZE: 9pt"
           class="btn text-white btn-rounded"><i class="fa-solid fa-list-check"></i> Votó</a>
        <a href="{{ list_url }}" style="background-color:var(--green05); FONT-SIZE: 9pt"
           class="btn text-white btn-rounded"><i class="fa-solid fa-rotate"></i> Actualizar</a>
    </div>
{% endblock %}
<!-- ./Footer-Buttons -->
<!-- JavaScript -->
{% block javascript %}

{% endblock %}
<!-- ./JavaScript -->
