{% extends 'body.html' %}

{% load static %}

{% load widget_tweaks %}
<!-- Extra Librerys -->
{% block head_extra %}
    <link rel="stylesheet" href="{% static 'librery/datatables-1.10.22/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'librery/datatables-1.10.22/plugins/css/responsive.bootstrap4.min.css' %}"/>
    <script src="{% static 'librery/datatables-1.10.22/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'librery/datatables-1.10.22/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'librery/datatables-1.10.22/plugins/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'librery/datatables-1.10.22/plugins/js/responsive.bootstrap4.min.js' %}"></script>
    <!-- Head List -->
    <!-- JavaScript extra -->
    <script src="{% static 'padron/js/mesaupdate.js' %}"></script>
    <!-- JavaScript extra -->


{% endblock %}
<!-- ./Extra Librerys -->

<!-- Data Body -->
{% block data_body %}
    <!-- Card Header -->
    <form method="POST" action="." id="FormCreate" enctype="multipart/form-data">
        <div class="card-header card-primary card-outline">
            <h3 class="card-title">
                <i class="fa-solid fa-rotate"></i> {{ title }}
            </h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <!-- ./Card Header -->
        <!-- Card Body -->
        <div class="card-body">
            {% csrf_token %}
            <input type="hidden" name="action" value="{{ action }}">
            {% if form.errors %}
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h5><i class="fa-solid fa-triangle-exclamation"></i> ! Ha ocurrido un ERROR !</h5>
                    <ul>
                        {% for field in form %}
                            {% for error in form %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-lg-3">
                    <div class="input-group mb-3">

                        <div class="input-group mb-3">
                            <input id="id_search" name="search" type="text" class="form-control select2-blue" placeholder="Ingrese N° de Mesa..."
                                   aria-label="search_product" aria-describedby="button-addon2" autocomplete="off" minlength="1" maxlength="4">
                            <button style="background-color:var(--blue02); Font-size: 12px"
                                class="btn text-white btnSearchProduct" id="id_btnSearchProduct" name="btnSearchProduct">
                                <i class="fa-solid fa-magnifying-glass"></i> Buscar
                            </button>
                        </div>


                    </div>

                    <div class="form-outline">
                        <input id="id" name="id" type="number" style="display:none;" class="form-control"
                               aria-label="id"
                               aria-describedby="addon-wrapping">
                    </div>
                </div>
                <div class="col-lg-9"></div>
            </div>

            <button type="button" style="background-color:var(--orange01); Font-size: 12px"
                    class="btn text-white btn-rounded btnRemoveAll">
                <i class="fa-solid fa-trash-can"></i> Limpiar
            </button>
            <hr>

            <div class="row">
                <div class="col-lg-12">
                    <table id="tblPadron" class="table table-hover table-sm">
                        <thead style="background-color:var(--blue02);" class="text-white">
                        <tr>
{#                            <th>ID</th>#}
                            <th>Votó</th>
                            <th>DNI</th>
                            <th>Apellido</th>
                            <th>Nombre</th>
                            <th>Domicilio</th>
                            <th>Departamento</th>
                            <th>Nombre Circuito</th>
                            <th>Código Circuito</th>
                            <th>Mesa</th>
                        </tr>
                        </thead>
                        <tbody id="tableAllEvents">
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <!-- Card Footer-Buttons -->
        <div class="card-footer text-center">
            <button style="background-color:var(--green05); FONT-SIZE: 9pt"
                    class="btn text-white btn-rounded btnUpdateDNI btnUpdateDNIKeyup" type="submit">
                <i class="fa-solid fa-rotate"></i> Actualizar
            </button>
            <button type="button" id="cleanAll" style="background-color:var(--orange01); FONT-SIZE: 9pt"
                    class="btn text-white btn-rounded btnRemoveAll">
                <i class="fa-solid fa-trash-can"></i> Limpar
            </button>
            <a href="{% url 'app:padron_list' %}" style="background-color:var(--red06); FONT-SIZE: 9pt"
               class="btn text-white btn-rounded">
                <i class="fa-solid fa-xmark"></i> Cancelar
            </a>
        </div>
        <!-- ./Card Footer-Buttons -->
    </form>

    <!-- JavaScript -->
    {% block javascript %}
        <script src="{% static 'padron/js/validations.js' %}"></script>
    {% endblock %}
    <!-- ./JavaScript -->

{% endblock %}
<!-- ./Data Body -->
