{% load static %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Bienvenido <strong>{{ request.user.username }}</h1></strong>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{{ padron_url }}">Listado Padron</a></li>
                    <li class="breadcrumb-item"><a href="{{ padron_dni_update }}">Votó</a></li>
                    <li class="breadcrumb-item"><a href="{{ dni_no_url }}">DNI NO Encontrado</a></li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- /.content-header -->