{% load static %}
<!-- APP Widgwt Tweaks -->
{% load widget_tweaks %}
<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            {#            <a href="../../index3.html" class="nav-link">Home</a>#}
            <a href="{% url 'index' %}" class="nav-link">Home</a>
        </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">

        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
                <i class="fa-solid fa-building-flag"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <div class="dropdown-divider"></div>
                <a href="{% url 'app:padron_list' %}" class="dropdown-item">
                    <i class="fa-solid fa-rectangle-list mr-2"></i> Padrón
                </a>

                <div class="dropdown-divider"></div>
                <a href="{% url 'app:padron_dniupdate' %}" class="dropdown-item">
                    <i class="fa-solid fa-person-circle-question mr-2"></i> Votó
                </a>

                <div class="dropdown-divider"></div>
                <a href="{% url 'app:dninoexist_create' %}" class="dropdown-item">
                    <i class="fa-solid fa-id-card mr-2"></i> DNI NO Encontrados
                </a>
            </div>
        </li>


        <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">


            {#            {% if request.user.groups.all %}#}
            {#                <li class="nav-item dropdown">#}
            {#                    <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link {% if request.user.groups.all.count > 1 %} dropdown-toggle {% endif %}">{{ request.session.group }}</a>#}
            {#                    {% if request.user.groups.all.count > 1 %}#}
            {#                        <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow" style="left: 0px; right: inherit;">#}
            {#                            {% for g in request.user.groups.all  %}#}
            {#                                {% if g.id != request.session.group.id %}#}
            {#                                    <li><a href="{% url 'user:user-change-group' g.id %}" class="dropdown-item">{{ g.name }} </a></li>#}
            {#                                {% endif %}#}
            {#                            {% endfor %}#}
            {#                        </ul>#}
            {#                    {% endif %}#}
            {#                </li>#}
            {#            {% endif %}#}

            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="fa-solid fa-user-gear"></i> {{ request.user.username }}
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-header" style="font-size: 12px;">
                            Su último acceso fue {{ request.user.last_login }}
                        </span>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fa-solid fa-user-pen mr-2"></i> Editar Perfil
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fa-solid fa-user-lock mr-2"></i> Cambiar Contraseña
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-footer">
                        <p>Este sistema te permitira realizar diferentes actividades</p>
                    </a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'access:logout' %}">
                    <i class="fa-solid fa-right-from-bracket" aria-hidden="true"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                    <i class="fas fa-expand-arrows-alt"></i>
                </a>
            </li>

        </ul>

        <!-- Navbar Search -->
        <!-- Notifications Dropdown Menu -->
        {#        <li class="nav-item dropdown">#}
        {#            <a class="nav-link" data-toggle="dropdown" href="#">#}
        {#                <i class="far fa-bell"></i>#}
        {#                <span class="badge badge-warning navbar-badge">15</span>#}
        {#            </a>#}
        {#            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">#}
        {#                <span class="dropdown-item dropdown-header">15 Notifications</span>#}
        {#                <div class="dropdown-divider"></div>#}
        {#                <a href="#" class="dropdown-item">#}
        {#                    <i class="fas fa-envelope mr-2"></i> 4 new messages#}
        {#                    <span class="float-right text-muted text-sm">3 mins</span>#}
        {#                </a>#}
        {#                <div class="dropdown-divider"></div>#}
        {#                <a href="#" class="dropdown-item">#}
        {#                    <i class="fas fa-users mr-2"></i> 8 friend requests#}
        {#                    <span class="float-right text-muted text-sm">12 hours</span>#}
        {#                </a>#}
        {#                <div class="dropdown-divider"></div>#}
        {#                <a href="#" class="dropdown-item">#}
        {#                    <i class="fas fa-file mr-2"></i> 3 new reports#}
        {#                    <span class="float-right text-muted text-sm">2 days</span>#}
        {#                </a>#}
        {#                <div class="dropdown-divider"></div>#}
        {#                <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>#}
        {#            </div>#}
        {#        </li>#}
        {#        <li class="nav-item">#}
        {#            <a class="nav-link" data-widget="fullscreen" href="#" role="button">#}
        {#                <i class="fas fa-expand-arrows-alt"></i>#}
        {#            </a>#}
        {#        </li>#}

    </ul>
</nav>
<!-- /.navbar -->